<% @presenter.closest_fuel_stations do |station| %>
<ul class="station">
  <li class="name"></li>
  <li class="address"></li>
  <li class="fuel-types"></li>
  <li class="distance"></li>
  <li class="access-times"></li>
</ul>
<% end %>
