<% @presenter.closest_fuel_stations do |station| %>
<ul class="station">
  <li class="name">station.name</li>
  <li class="address">station.address</li>
  <li class="fuel-types">station.fuel-types</li>
  <li class="distance">station.distance</li>
  <li class="access-times">station.access_times</li>
</ul>
<% end %>
